html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25;
  font-size: 1rem;
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.skill {
  font-size: 11px;
  background-color: whitesmoke;
  color: slategray;
  border-radius: 3px;
  padding: 4px 8px;
}

.experience {
  margin-bottom: 2rem;
}

.experience__headline h3 {
  display: inline;
  margin-right: 1rem;
  margin-bottom: 0;
}

.experience__headline-title {
  display: flex;
  align-items: baseline;
}

.experience__date {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: gray;
  margin-bottom: 1rem;
}

.experience__skills {
  margin-bottom: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.experience__skills .skill {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 991px) {
  .experience__headline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.content {
  max-width: 320px;
  display: block;
}

.content h3 {
  font-weight: normal;
}

.content__image {
  height: 190px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}