@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply md:text-5xl;
    @apply font-semibold;
  }
  h2 {
    @apply text-3xl;
    @apply md:text-4xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-2xl;
    @apply md:text-3xl;
    @apply font-semibold;
  }
  h4 {
    @apply text-3xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-2xl;
    @apply font-semibold;
  }
  h6 {
    @apply text-xl;
    @apply font-semibold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.blog-post p a {
  @apply text-primary;
  @apply underline;
  @apply hover:no-underline;
}

/* Default vertical spacing */
.gh-content > * + * {
  margin-top: 4vmin;
  margin-bottom: 0;
}

/* [id] represents all headings h1-h6, reset all margins */
.gh-content > [id] {
  margin: 0;
}

/* Add back a top margin to all headings, unless a heading
is the very first element in the post content */
.gh-content > [id]:not(:first-child) {
  margin: 1.5em 0 0;
}

/* Add a small margin between a heading and anything after it */
.gh-content > [id] + * {
  margin-top: 1.5rem !important;
}

/* A larger margin before/after HRs and blockquotes */
.gh-content > hr,
.gh-content > blockquote {
  position: relative;
  margin-top: 6vmin;
}
.gh-content > hr + *,
.gh-content > blockquote + * {
  margin-top: 6vmin !important;
}

/* Now the content typography styles */
.gh-content a {
  word-break: break-word;
}

.gh-content > blockquote:not([class]),
.gh-content > ol,
.gh-content > ul,
.gh-content > dl,
.gh-content > p  {
  font-weight: 400;
  line-height: 1.6em;
}

.gh-content .kg-callout-card .kg-callout-text,
.gh-content .kg-toggle-card .kg-toggle-content > ol,
.gh-content .kg-toggle-card .kg-toggle-content > ul,
.gh-content .kg-toggle-card .kg-toggle-content > p {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.6em;
}

.gh-content .kg-product-card .kg-product-card-description > p,
.gh-content .kg-product-card .kg-product-card-description > ol,
.gh-content .kg-product-card .kg-product-card-description > ul {
  font-size: 1.7rem;
  line-height: 1.6em;
}

.gh-content .kg-callout-card .kg-callout-emoji {
  font-size: 2.1rem;
  line-height: 1.4em;
}

.gh-content .kg-toggle-card .kg-toggle-heading-text {
  font-size: 2.0rem;
}


.gh-content > ul,
.gh-content > ol,
.gh-content > dl,
.gh-content .kg-toggle-card .kg-toggle-content > ol,
.gh-content .kg-toggle-card .kg-toggle-content > ul,
.gh-content .kg-product-card .kg-product-card-description > ol,
.gh-content .kg-product-card .kg-product-card-description > ul {
  padding-left: 1.9em;
}

.gh-content > blockquote:not([class]) {
  position: relative;
  font-style: italic;
  padding: 0;
}

.gh-content > blockquote:not([class])::before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 0;
  bottom: 0;
  width: 0.3rem;
}

.gh-content :not(pre) > code {
  vertical-align: middle;
  padding: 0.15em 0.4em 0.15em;
  border: #e1eaef 1px solid;
  font-weight: 400 !important;
  font-size: 0.9em;
  line-height: 1em;
  color: #15171A;
  background: #f0f6f9;
  border-radius: 0.25em;
}

@media (max-width: 650px) {
  .gh-content > blockquote:not([class]),
  .gh-content > ol,
  .gh-content > ul,
  .gh-content > dl,
  .gh-content > p,
  .gh-content .kg-callout-card .kg-callout-text,
  .gh-content .kg-toggle-card .kg-toggle-content > ol,
  .gh-content .kg-toggle-card .kg-toggle-content > ul,
  .gh-content .kg-toggle-card .kg-toggle-content > p {
    font-size: 1.7rem;
  }

  .gh-content .kg-product-card .kg-product-card-description > p,
  .gh-content .kg-product-card .kg-product-card-description > ol,
  .gh-content .kg-product-card .kg-product-card-description > ul {
    font-size: 1.5rem;
  }

  .gh-content blockquote:not([class])::before {
    left: -4vmin;
  }
}

.gh-content ul li {
  list-style: disc;
}

.gh-content ol li {
  list-style: nu;
}

.gh-content figcaption {
  @apply text-center text-sm text-neutral-500 mt-2;
}

.gh-content pre {
  @apply bg-gray-800 text-white p-3 rounded overflow-auto;
}